# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Raw Data
mothur/PondPostDNA.sff
mothur/PondPostcDNA.sff
mothur/PondPreDNA.sff
mothur/PondPrecDNA.sff
